{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
    <div class="form-wrapper">
        <form class="form" method="post" action="/artists/{{artist.id}}/edit">
            <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
            <div class="form-group">
                <label for="name">Name</label>
                {{ form.name(class_ = 'form-control', value = artist.name, autofocus = true) }}
            </div>
            <div class="form-group">
                <label>City & State</label>
                <div class="form-inline">
                    <div class="form-group">
                    {{ form.city(class_ = 'form-control', placeholder='City', value = artist.city , autofocus = true) }}
                    </div>
                    <div class="form-group">
                    {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true, id='state') }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', value = artist.phone, autofocus = true) }}
            </div>
            <div class="form-group">
                <label for="genres">Genres</label>
                <small>Ctrl+Click to select multiple</small>
                {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
            </div>
            <div class="form-group">
                <label for="genres">Image Link</label>
                    {{ form.image_link(class_ = 'form-control', placeholder='http://', value = artist.image_link, autofocus = true) }}
            </div>
            <div class="form-group">
                <label for="genres">Facebook Link</label>
                {{ form.facebook_link(class_ = 'form-control', placeholder='http://', value = artist.facebook_link, autofocus = true) }}
            </div>
            <div class="form-group">
                <label for="genres">Website</label>
                {{ form.website(class_ = 'form-control', placeholder='http://', value = artist.website, autofocus = true) }}
            </div>
            <div class="form-group">
                <label>Seeking Venue</label>
                {{ form.seeking_venue(class_ = 'form-control', autofocus = true) }}
            </div>
            <div class="form-group">
                <label>Seeking Description</label>
                {{ form.seeking_description(class_ = 'form-control', placeholder='Description', value = artist.seeking_description, autofocus = true) }}
            </div>
            <input type="submit" value="Edit Artist" class="btn btn-primary btn-lg btn-block">
        </form>
        <script>
            //select the artist state
            var state=document.getElementById('state');
            var selected_state = '{{artist.state}}';
            for(i=0;i<state.options.length;i++){
                if (state.options[i].value==selected_state){
                    state.options[i].setAttribute('selected', 'selected');
                }
            }
            
            //select the genres
            var genres = document.getElementById('genres')
            var selected_genres = '{{artist.genres}}';
            selected_genres=selected_genres.replace(/&#34;/g,'');
            selected_genres=selected_genres.replace('{','');
            selected_genres=selected_genres.replace('}','');
            genres_list=selected_genres.split(',')
            for(i=0;i<genres.options.length;i++){
                for(j=0;j<genres_list.length;j++){
                    if (genres.options[i].value==genres_list[j]){
                        genres.options[i].setAttribute('selected', 'selected');
                    }
                }
            }
            
            //select the venue seeking_talent
            var talent=document.getElementById('seeking_venue');
            var selected_talent = '{{artist.seeking_venue}}';
            for(i=0;i<talent.options.length;i++){
                if (talent.options[i].value==selected_talent){
                    talent.options[i].setAttribute('selected', 'selected');
                }
            }
            
            //description control
            var desc=document.getElementById('seeking_description');
            var seeking_venue=document.getElementById('seeking_venue');
            if (seeking_venue.value != 'True'){
                desc.value='';
                desc.setAttribute('disabled','disabled');
            }
            seeking_venue.onchange=function(e){
                if (seeking_venue.value == 'True'){
                    desc.removeAttribute('value');
                    desc.removeAttribute('disabled');
                }else{
                    desc.value='';
                    desc.setAttribute('disabled','disabled');
                }
            }
        </script>
    </div>
{% endblock %}